@import "tailwindcss";



body {
  padding: 0;
  margin: 0;
  background-color: white;

  background-image:
    /* Changed to a darker grey (rgb 50, 50, 50) */
    linear-gradient(to right, rgba(56, 73, 168, 0.39) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(56, 73, 168, 0.39) 1px, transparent 1px);

  background-size: 40px 40px;
}